<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">

          <ul class="nav nav-sidebar">
            <li class="active"><div class="col-xs-12 col-sm-12 placeholder">
              <img src="{{user.profilephoto}}" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
            </div></li>
            <li class="username">{{user.firstname + " " +user.lastname}}</li>
            <li class="userposition">{{user.position}}</li>
            <li class="userdetail">{{user.college}}</li>
            <li class="userdetail">{{user.department}}</li>
          </ul>
      
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">


        </div>
      </div>
    </div>